@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
	background: grey;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	line-height: 50%;
}


/* Links */
a:link {
	color: #047dff;
	text-decoration: none;
}
a:visited {
	color: #047dff;
	text-decoration: none;
}
a:hover {
	color: #0054b2;
	text-decoration: underline;
}
a:active {
	color: #047dff;
	text-decoration: none;
}


#main_stuff {
	border: 5px;
	border-style: none outset outset none;
	margin: 1%;
	/* width: 50%;
	position: absolute; */
	background: white;
	align: center;
	self-align: center;
	text-align: center;
	/* padding: 1%;
	overflow: auto; */
}
.window_up_stuff {
	overflow: auto;
	background: #e5e5e5;
	color: #e5e5e5;
	text-align: right;
	line-height: 2;
}
.window_up_stuff button {
	background: #f4f4f4;
	border: none;
}
.up_not-to_up {
	background: #f4f4f4;
	text-align: left;
	height: 1%;
}
.up_not-to_up button {
	background: #d9f4f4;
	border: none;
}
.profile-img {
	border-radius: 100%;
	max-width: 10%;
	height: auto;
}